* {
  margin: 0;
  padding: 0;
  font-family: 'Rubik Doodle Shadow';
}

body{
  background-color: rgb(255, 234, 0);
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 35px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.scoreboard,
.result{
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.scoreboard{
  font-size: 30px;
}

.result {
  font-size: 20px;
  margin-bottom: 25px;
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-bottom: 30px;
}

.endgame-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.win-message{
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 15px;
}

.hidden{
  opacity: 0;
}

.button-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-button, 
.reset-button{
  background-color: rgb(255, 234, 0);
  color: black;             
  padding: 10px 20px;       
  border: none;             
  border-radius: 5px;       
  font-size: 20px;          
  font-weight: bold;        
  cursor: pointer;         
  transition: transform 0.3s; 
}

.game-button:hover,
.reset-button:hover{
  transform: scale(1.05);    /* Slightly increase size on hover */
}

img{
  transform: transform 0.3;
  width: 150px;
}

img:hover{
  transform: scale(1.05);
}

